<div class="premium-alert-container" [ngClass]="'alert-border-' + data.tipo">
  
  <div class="premium-alert-header">
    <div class="icon-ring-wrapper" [ngClass]="'icon-ring-' + data.tipo">
      <mat-icon class="premium-alert-icon">{{ data.icono }}</mat-icon>
    </div>
    <h2 class="premium-alert-title">{{ data.titulo }}</h2>
  </div>

  <mat-dialog-content class="premium-alert-content">
    <p>{{ data.mensaje }}</p>
  </mat-dialog-content>

  <mat-dialog-actions align="center" class="premium-alert-actions">
    
    @if (data.esDecision) {
      <div style="display: flex; gap: 12px; width: 100%;">
        <button mat-flat-button [mat-dialog-close]="false" style="flex: 1;">
          {{ data.textoBotonCancelar || 'Cancelar' }}
        </button>

        <button mat-flat-button [mat-dialog-close]="true" 
                [color]="data.textoBotonOk && (data.textoBotonOk.includes('Postular') || data.textoBotonOk.includes('Confirmar')) ? 'primary' : 'warn'"
                style="flex: 1; font-weight: 700;">
          {{ data.textoBotonOk || 'Sí, Eliminar' }}
        </button>
      </div>
    } @else {
      <button mat-flat-button 
              class="btn-premium-alert-confirm" 
              [ngClass]="'btn-color-' + data.tipo"
              [mat-dialog-close]="true">
        Aceptar y Continuar
      </button>
    }

  </mat-dialog-actions>
</div>