@if (cargando()) {
  <div class="overlay-spinner">
    <mat-spinner diameter="60" color="primary"></mat-spinner>
    <p>Actualizando políticas del sistema transaccional...</p>
  </div>
}

<div class="header-actions-wrapper">
  <div class="title-block">
    <h1>Parámetros Globales de Configuración</h1>
    <p>Auditoría y control de variables de entorno, límites de carga y plazos del concurso.</p>
  </div>
  <button mat-flat-button color="primary" class="btn-nuevo-parametro" (click)="abrirModal(null)">
    <mat-icon>add</mat-icon> NUEVO PARÁMETRO
  </button>
</div>

<div class="config-grid">
  @for (param of parametrosOriginales(); track param.codigo) {
    
    <div class="custom-config-card">
      <button mat-icon-button class="delete-param-btn" (click)="eliminarParametro(param)" matTooltip="Eliminar regla">
        <mat-icon>delete</mat-icon>
      </button>

      <div class="card-custom-header">
        <div class="card-icon-container">
          <mat-icon>{{ param.codigo.includes('CORREO') ? 'mail' : param.codigo.includes('FLAG') ? 'toggle_on' : 'tune' }}</mat-icon>
        </div>
        <div class="card-title-container">
          <h3>{{ param.nombre }}</h3>
          <span class="badge-category-pill">{{ param.categoria }}</span>
        </div>
      </div>

      <div class="card-custom-body">
        <p class="config-description-text">{{ param.descripcion }}</p>
        
        <div class="meta-info-block">
          <span class="code-key-label">Key: <code>{{ param.codigo }}</code></span>
        </div>

        <div class="action-footer-row">
          @if (param.codigo.startsWith('FLAG_')) {
            <mat-slide-toggle [checked]="param.valor === '1'" 
                              (change)="guardarCambioRapido(param.codigo, $event.checked ? '1' : '0')"
                              color="primary">
              {{ param.valor === '1' ? 'Habilitado' : 'Deshabilitado' }}
            </mat-slide-toggle>
          } @else {
            <div class="value-display-flex">
              <span class="value-text">Valor: <code class="value-pill">{{ param.valor }}</code></span>
              <button mat-stroked-button color="primary" class="btn-manage-action" (click)="abrirModal(param)">
                <mat-icon>edit</mat-icon> Gestionar
              </button>
            </div>
          }
        </div>
      </div>
    </div>

  }
</div>